._title_i6c8m_1:-webkit-full-screen {
  color: yellow;
}
._title_i6c8m_1:-ms-fullscreen {
  color: yellow;
}
.title:-webkit-full-screen {
  color: yellow;
}
.title:-ms-fullscreen {
  color: yellow;
}
._title_i6c8m_1:fullscreen {
  color: yellow;
}html {
  background: pink;
}